<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <body>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/i8n1gSw_o_8?autoplay=1">
    </iframe>
  </body>
</html>